!!! 5
%html
  %head
    %title fortnight labs
    %link{ :type => 'text/css', :rel => 'stylesheet', :href => '/application.css', :media => 'all' }
    %meta{ :name => "google-site-verification", :content => "hNsmd8QNew8fXc5NkETEkZo-HIGkdbHg_oFejOEZKI0" }
  %body{ :class => params[:template] }
    #page
      - @pages = %w/ portfolio contact about /
      #page-number= (@pages.index(params[:template]) || -1) * 2 + 3
      %nav
        %h1{ :class => request.path == '/' ? 'current' : '' }
          %a{ :href => '/' }
            %span.logo
              %em fortnight
              labs
        %ul
          - @pages.each do |p|
            %li{ :class => request.path == "/#{p}" ? 'current' : '' }
              %a{ :href => "/#{p}" }= p
      #contents
        = yield
    #footer
      &copy; #{Time.now.year} fortnight labs &mdash; purveyors of fine things.
      .colophon
        %a{ :href => 'http://iginomarini.com/fell/' } The Fell Types
        are digitally reproduced by
        %a{ :href => 'http://www.iginomarini.com' }> Igino Marini
        \.
