!!! 5
%html
  %head
    %title fortnight labs
    %link{ :type => 'text/css', :rel => 'stylesheet', :href => '/application.css', :media => 'all' }
  %body{ :class => params[:template] }
    #page
      - @pages = %w/ portfolio contact about /
      %nav
        %h1{ :class => request.path == '/' ? 'current' : '' }
          %img{ :src => '/images/logo.png' }
          %br
          %a{ :href => '/' }
            %span.logo
              %em fortnight
              labs
        %ul
          - @pages.each do |p|
            %li{ :class => request.path == "/#{p}" ? 'current' : '' }
              %a{ :href => "/#{p}" }= p
      #contents
        #page-number= (@pages.index(params[:template]) || -1) * 2 + 3
        = yield

      #footer
        &copy; #{Time.now.year} fortnight labs &mdash; purveyors of fine things.
        .colophon
          %a{ :href => 'http://iginomarini.com/fell/' } The Fell Types
          are digitally reproduced by
          %a{ :href => 'http://www.iginomarini.com' }> Igino Marini
          \.
